<div class="form-outline mb-4">
    @if(IconClass != null)
    {
        <i class="@IconClass"></i>
    }
    <input 
        placeholder="@Placeholder" 
        required="@IsRequired" 
        type="@Type" @bind=InputText 
        @bind:event="@BindEvent" 
        @onchange="@(async () =>await OnInput.InvokeAsync(InputText))" 
        class="form-control form-control-lg" />
        @if(!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-label" for="form1Example13">@Label</label>
        }
</div>

@code {
    [Parameter]
    public string? InputText { get; set; }

    [Parameter]
    public string? IconClass { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string BindEvent { get; set; } = "oninput";

    [Parameter]
    public bool IsRequired { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public EventCallback<string> OnInput { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;
}
