@using Limp.Client.ClientOnlyModels;
@using Limp.Client.Services.DataTransmission.PackageForming
@using Limp.Client.Services.HubServices.CommonServices.CallbackExecutor;
@using Limp.Client.Services.HubServices.CommonServices.SubscriptionService;
@using Limp.Client.Services.HubServices.HubServices.Implementations.MessageService
@using Limp.Client.Services.InboxService;
@using LimpShared.Models.Message;
@using Ljbc1994.Blazor.IntersectionObserver
@inject IIntersectionObserverService _observerService
@inject ICallbackExecutor _callbackExecutor
@inject IMessageBox _messageBox
@inject IMessageService _messageService
@inject IHubServiceSubscriptionManager _hubServiceSubscriptionManager
@inject IJSRuntime _jSRuntime
@inject IPackageMultiplexerService PackageMultiplexerService
@implements IDisposable

@if(message != null)
{
    <div class="message @messageClass" @ref="MessageElement">
        <div class="message-text">
            @if (!string.IsNullOrWhiteSpace(DataUrl) && message.Packages.First().ContentType.Contains("image"))
            {
                <img style="max-width: 100%;" src="@DataUrl"/>
            }
            else if (!string.IsNullOrWhiteSpace(DataUrl) && message.Packages.First().ContentType.Contains("video"))
            {
                <video controls="controls" style="max-width: 100%;">
                    <source src="@DataUrl" type="video/mp4">
                </video>
            }
            else if (!string.IsNullOrWhiteSpace(DataUrl))
            {
                <div>
                    <a 
                        href="@DataUrl" 
                        download="@message.Packages.First().FileName"
                       style="text-decoration: none;">
                    <i class="bi bi-cloud-download-fill"></i>
                    <span>@message.Packages.First().FileName</span>
                </a>
                </div>
            }
            
            @if (!string.IsNullOrWhiteSpace(message.PlainText))
            {
                <span>@(message.PlainText)</span>
            }
        </div>
        <div class="message-footer">
            <span>@message.DateSent.ToLocalTime().ToString("HH:mm")</span>
            @if (message.Sender == myUsername)
            {
                @if (message.Sender == myUsername)
                {
                    @if (message.IsSeen)
                    {
                        //Wrapping i in span tag solves "Cannot read property 'removeChild' of null" error.
                        //issue reference: https://stackoverflow.com/a/64686984
                        <span>
                            <i class="fas fa-check-double @messageClass"></i>
                        </span>
                    }
                    else if(!message.IsRegisteredByHub)
                    {
                        @if (message.Type is MessageType.DataPackage)
                        {
                            <span style="color: dodgerblue; cursor: pointer;" @onclick="(() => OnResend.InvokeAsync(message))">
                                <span>@($"{chunksLoaded}/{message?.Packages.Count}")</span>
                                <i class="bi bi-arrow-clockwise">Resend</i>
                            </span>
                        }
                        else
                        {
                            <span style="color: dodgerblue; cursor: pointer;" @onclick="(() => OnResend.InvokeAsync(message))">
                                <i class="bi bi-arrow-clockwise">Resend</i>
                            </span>
                        }
                    }
                    else if (message.IsRegisteredByHub)
                    {
                        if (message.IsDelivered)
                        {
                            //Wrapping i in span tag solves "Cannot read property 'removeChild' of null" error.
                            //issue reference: https://stackoverflow.com/a/64686984
                            <span>
                                <i class="fas fa-check @messageClass"></i>
                            </span>
                        }
                        else
                        {
                            <span>
                                <i class="bi bi-database-check @messageClass"></i>
                            </span>
                        }
                    }
                }
            }
            @if (message.Packages.Any())
            {
                <span @onclick="() => _messageBox.Delete(message)">
                    <Icon Name="IconName.TrashFill" Style="color: red;"></Icon>
                </span>
            }
        </div>
    </div>
}

@code {
    public ElementReference MessageElement { get; set; }
    public bool IsIntersecting { get; set; }

    [Parameter]
    public EventCallback<ClientMessage> OnResend { get; set; }

    [Parameter]
    public ClientMessage? message { get; set; }

    [Parameter]
    public string? myUsername { get; set; }

    private bool isOutcoming;
    private string messageClass = string.Empty;
    private Guid componentId { get; set; }
    private string DataUrl { get; set; } = string.Empty;
    private int chunksLoaded { get; set; } = 0;

    public void Dispose()
    {
        _hubServiceSubscriptionManager.RemoveComponentCallbacks(componentId);
        _observerService.Observe(new(), null, null);
    }

    protected override async Task OnInitializedAsync()
    {
        componentId = Guid.NewGuid();

        if (message is not null && message.Packages.Any())
        {
            string mimeType =  message.Packages.First().ContentType;
            string base64Data = PackageMultiplexerService.Combine(message.Packages.OrderBy(x=>x.Index).ToList(), message.Sender);
            DataUrl = $"data:{mimeType};base64,{base64Data}";
            StateHasChanged();
        }

        SubscribeToHubEvents();
    }

    private void SubscribeToHubEvents()
    {
        _hubServiceSubscriptionManager.AddCallback<Guid>(id =>
        {
            _messageBox.OnDelivered(id);
            StateHasChanged();
        }, "OnFileReceived", componentId);
        
        _hubServiceSubscriptionManager.AddCallback<Guid>(((id) =>
        {
            _messageBox.OnSeen(id);
            StateHasChanged();
        }), "OnReceiverMarkedMessageAsRead", componentId);

        _hubServiceSubscriptionManager.AddCallback<Guid>((messageId) =>
        {
            if (message?.Id != messageId)
                return;
            
            if (chunksLoaded + 1 > message.Packages.Count)
                return;
            
            chunksLoaded += 1;
            StateHasChanged();
        }, "OnChunkLoaded", componentId);
    }

    protected override async Task OnParametersSetAsync()
    {
        isOutcoming = message?.Sender == myUsername;
        messageClass = isOutcoming ? "outcoming" : "incoming";

        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetupObserver();
        }
    }

    public async Task SetupObserver()
    {
        await _observerService.Observe(MessageElement, (entries) =>
        {
            var entry = entries.FirstOrDefault();
            if(entry is not null)
            {
                if (message is not null && message.Sender != myUsername)
                {
                    //sends sender a message has been readed confirmation
                    _messageService.NotifySenderThatMessageWasReaded(message.Id, message.Sender, myUsername);
                    //Marks message as seen
                    _messageBox.OnSeen(message.Id);
                }

                IsIntersecting = entry.IsIntersecting;
                StateHasChanged();
            }
        });
    }
}
